@import url('https://fonts.googleapis.com/css2? family= ABeeZee & display=swap');
*{
  font-family: 'Aabezzee';
}

.insta-feed-header {
    ion-icon{
     font-size: 28px;
    }
    .insta-font{
       font-family: 'Aabezzee';
       font-size: 28px;
       background-color: #FCF7F4;;
     }
   }
   .logo{
     height: 50px;
     width: 50px;
     margin-left: 60px;
   }
   