@import url('https://fonts.googleapis.com/css2? family= ABeeZee & display=swap');
*{
  font-family: 'Aabezzee';
}
ion-content {
    width: calc(100% + 22px);
  }
 .insta-feed-header {
    
    ion-icon{
     font-size: 28px;
    }
    .insta-font{
       font-family: 'Aabezzee';
       font-size: 28px;
     }
   }
   .logo{
    height: 90px;
    width: 90px;
    margin-left: 50px;
  }

ion-content {
    width: calc(100% + 22px);
  }
