<ion-header>
  <ion-toolbar color="">
      <ion-title><img style="width: 70px;height: 70px; margin-left: 40px;" src="../../assets/Logo1.png">
          <!-- <ion-icon name="caret-down" style="margin-bottom: -3px;"></ion-icon> -->
      </ion-title>
      <ion-buttons slot="start">
          <ion-button routerLink="/liste-abonnes">
              <ion-icon style="color: #E88441;" name="person-outline" ></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        
        <ion-button routerLink="/liste-commande-page">
          <ion-icon name="bag-check-outline" style="color: #E88441;"></ion-icon>
        
        </ion-button>
      </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-padding-vertical">
      <ion-avatar class="avatar">
          <img src="../../assets/Nounou-DEMBAGA.jpg" alt="" class="image-round">
      </ion-avatar>
      <div class="ion-text-center username">
          <ion-text>@cloneapplcaitons</ion-text>
      </div>
      <ion-grid fixed>
          <ion-row class="ion-no-padding">
              <!-- <ion-col size="4">
                  <div class="ion-text-center">
                      <span><strong>0</strong></span> <br>
                      <small>Following</small>
                  </div>
              </ion-col> -->
              <ion-col size="6">
                  <div class="ion-text-center">
                      <span><strong>0</strong></span> <br>
                      <small>Abonnées</small>
                  </div>
              </ion-col>
              <ion-col size="6">
                  <div class="ion-text-center">
                      <span><strong>0</strong></span> <br>
                      <small>J'aimes </small>
                  </div>
              </ion-col>
          </ion-row>
      </ion-grid>
      <div class="ion-text-center btn-edit">
          <a routerLink="/settings">Modifier le profil</a>
          <!-- <a class="bookmark">
              <ion-icon class="icon-mark" name="bookmark-outline"></ion-icon>
          </a> -->
      </div>
  </div>
  <div class="ion-text-center ion-margin-top">
      <span>Bienvenue sur ma page !!! </span>
  </div>

  <div class="segment">
      <ion-segment color="dark" [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="video">
            <ion-icon name="videocam-outline"></ion-icon>
            <ion-label>Vidéos</ion-label>
          </ion-segment-button>
          <ion-segment-button value="food">
            <ion-icon name="fast-food-outline"></ion-icon>
            <ion-label>Postes </ion-label>
          </ion-segment-button>
          <ion-segment-button value="video_liked">
              <ion-icon name="lock-closed-outline"></ion-icon>
              <ion-label>Aimées </ion-label>
          </ion-segment-button>
      </ion-segment>
  </div>

  <!-- <div class="center"> -->

<div class="video" *ngIf="selectedSegment == 'video'">
    <div class="grid">
        <div class="img_box">
            <img routerLink="/video" src="../../assets/Djouka.png" alt="">
        </div>

        <div class="img_box">
            <img routerLink="/video" src="../../assets/Djouka.png" alt="">
        </div>
    
        <div class="img_box">
            <img routerLink="/video" src="../../assets/Djouka.png" alt="">
        </div>

        <div class="img_box">
            <img routerLink="/video" src="../../assets/Djouka.png" alt="">
        </div>

        <div class="img_box">
            <img routerLink="/video" src="../../assets/Djouka.png" alt="">
        </div>

        <div class="img_box">
            <img routerLink="/video" src="../../assets/Djouka.png" alt="">
        </div>

      </div>
</div>


<div class="food" *ngIf="selectedSegment == 'food'">
    <div id="container">
        <ion-card >
          
            <img style="height: 100px; width: 150px;" src="../../assets/gastro2.jpg">
   
        </ion-card>
        <ion-card routerLink="/details-produits">
         
            <img  src="../../assets/Rectangle_66 (2).png">
 
        </ion-card>
        
        <ion-card routerLink="/details-produits">
          
            <img  src="../../assets/Rectangle_66 (4).png">
            
      
        </ion-card>
      
        <ion-card  routerLink="/details-produits">
          
            <img  src="../../assets/ginger-juice.jpg">
            
      
        </ion-card>
        
        <ion-card  routerLink="/details-produits">
          
          <img  src="../../assets/pexels-photo-248489.jpeg">
      
      </ion-card>
      <ion-card  routerLink="/details-produits">
          
        <img  src="../../assets/mafé.PNG">
       
      
      </ion-card>
      <ion-card  >
          
        <img  src="../../assets/fruits_@2x.png">
        
      </ion-card>
      
      <ion-card  routerLink="/details-produits">
          
        <img  src="../../assets/Rectangle_66 (3).png">
      
      </ion-card>
      </div>
</div>

<div class="video_liked" *ngIf="selectedSegment == 'video_liked'">
    <div class="grid">
        <div class="img_box">
            <img routerLink="/video" src="../../assets/Djouka.png" alt="">
        </div>

        <div class="img_box">
            <img routerLink="/video" src="../../assets/Djouka.png" alt="">
        </div>
    
        <div class="img_box">
            <img routerLink="/video" src="../../assets/Djouka.png" alt="">
        </div>

        <div class="img_box">
            <img routerLink="/video" src="../../assets/Djouka.png" alt="">
        </div>

        <div class="img_box">
            <img routerLink="/video" src="../../assets/Djouka.png" alt="">
        </div>

        <div class="img_box">
            <img routerLink="/video" src="../../assets/Djouka.png" alt="">
        </div>

        
      </div>
</div>
  
</ion-content>