<ion-header>
  
  <ion-toolbar class="insta-feed-header" color="">
    <ion-buttons slot="start">
      <ion-button (click)="Back()">
        <ion-icon name="close" style="color: #E88441;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="divlogo" style="position: sticky;">
      <img  class="logo" src="../assets/Logo1.png" alt="">
    </div>
    <ion-buttons slot="end">
      
      <ion-button>
        <ion-icon name="" style="color: #E88441;"></ion-icon>
      
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- <ion-item>
    <br>
   <h3 style="color:#E88441;">Liste des Commandes</h3>
  </ion-item>

  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Rechercher...">

  <table id="myTable">
    <tr class="header">
      <th style="width:10px;">N°</th>
      <th style="width:30px;">Réf</th>
      <th style="width:30px;">Prix</th>
      <th style="width:auto;">Action</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Com1</td>
      <td>2500</td>
      <td><ion-button fill="transparent"> <ion-icon name="close"></ion-icon></ion-button></td>
    </tr>
    <tr>
      <td>2</td>
      <td>Com1</td>
      <td>2500</td>
      <td><ion-button fill="transparent"> <ion-icon name="close"></ion-icon></ion-button></td>
    </tr>
    <tr>
      <td>3</td>
      <td>Com1</td>
      <td>2500</td>
      <td><ion-button fill="transparent"> <ion-icon name="close"></ion-icon></ion-button></td>
    </tr>
    <tr>
      <td>4</td>
      <td>Com1</td>
      <td>2500</td>
      <td><ion-button fill="transparent"> <ion-icon name="close"></ion-icon></ion-button></td>
    </tr>
  </table> -->





  <h1 class="title" style="text-align: center; color: #E88441;">Mes Commandes</h1>

  <div class="order-items">
    <ion-card mode="md">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/fruits_@2x.png' />
        </div>

        <div class="item-info">
          <p>Fruits</p>
          <p>publié par <img style="width: 25px; height: 25px;border-radius: 50%;margin-bottom: -5px;" src="../../assets/Nounou-DEMBAGA.jpg" alt="" srcset=""></p>
          <p>3000 FCFA</p>
          <p>20/01/2023</p>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card mode="md">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/fruits_@2x.png' />
        </div>

        <div class="item-info">
          <p>Fruits</p>
          <p>publié par <img style="width: 25px; height: 25px;border-radius: 50%;margin-bottom: -5px;" src="../../assets/Nounou-DEMBAGA.jpg" alt="" srcset=""></p>
          <p>3000 FCFA</p>
          <p>20/01/2023</p>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card mode="md">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/fruits_@2x.png' />
        </div>

        <div class="item-info">
          <p>Fruits</p>
          <p>publié par <img style="width: 25px; height: 25px;border-radius: 50%;margin-bottom: -5px;" src="../../assets/Nounou-DEMBAGA.jpg" alt="" srcset=""></p>
          <p>3000 FCFA</p>
          <p>20/01/2023</p>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card mode="md">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/fruits_@2x.png' />
        </div>

        <div class="item-info">
          <p>Fruits</p>
          <p>publié par <img style="width: 25px; height: 25px;border-radius: 50%;margin-bottom: -5px;" src="../../assets/Nounou-DEMBAGA.jpg" alt="" srcset=""></p>
          <p>3000 FCFA</p>
          <p>20/01/2023</p>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card mode="md">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/fruits_@2x.png' />
        </div>

        <div class="item-info">
          <p>Fruits</p>
          <p>publié par <img style="width: 25px; height: 25px;border-radius: 50%;margin-bottom: -5px;" src="../../assets/Nounou-DEMBAGA.jpg" alt="" srcset=""></p>
          <p>3000 FCFA</p>
          <p>20/01/2023</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
