<!--PAGE D'ACCEUIL-->
<ion-header>

  <ion-toolbar class="insta-feed-header" color="">
    <ion-buttons slot="start">
      <ion-button (click)="Back()">
        <ion-icon name="arrow-back-outline" style="color: #E88441;"></ion-icon>
      </ion-button>
    </ion-buttons>

    <img class="logo" src="../assets/Logo1.png" alt="">
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="app__videos">
    <!-- video starts -->
    <div class="video">
      <video class="video__player" controls src="../../assets/{{video?.url}}"></video>

      <!-- sidebar -->
      <div class="videoSidebar">
        <div class="videoSidebar__button">
          <span class="material-icons" *ngIf="isLike">
            <ion-icon name="heart-outline"  (click)="UnLikeVideo()"
              [ngClass]="isLike ? 'like':''">
            </ion-icon>
          </span>
          <span *ngIf="!isLike">
            <ion-icon name="heart-outline" (click)="LikeVideo()"
            [ngClass]="!isLike ? 'unlike':''">
          </ion-icon>
          </span>
          <p style="color: white;">{{video?.likeCount}}</p>
        </div>
        <div class="videoSidebar__button">
          <span class="material-icons"><ion-icon routerLink="/commentaires" name="chatbubble-ellipses-outline"
              style="color:#E88441; height: 35px; width: 35px;"></ion-icon></span>

          <p style="color: white;">{{video?.commentCount}}</p>
        </div>
      </div>

      <!-- footer -->
      <div class="videoFooter">
        <div class="videoFooter__text">
          <div class="videoFooter__description">
            <h6> @<span style="color:#E88441" routerLink="/profil-visiteursiteur">Somanath</span></h6>
            <h6>Best Video Ever</h6>
          </div>


        </div>

      </div>
    </div>
    <!-- video ends -->
  </div>

</ion-content>