  <!--PAGE D'ACCEUIL-->
  <ion-header>
  
    <ion-toolbar class="insta-feed-header" color="">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon name="arrow-back-outline" style="color: #E88441;"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="divlogo" style="position: sticky;">
        <img  class="logo" src="../assets/Logo1.png" alt="">
      </div>
      <ion-buttons slot="end">
        
        <ion-button routerLink="/recherche">
          <ion-icon name="" style="color: #E88441;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <h1 style="color: #E88441; text-align: center;">Panier</h1>
 

  <!-- <ion-card class="grand">
    <div class="title">
      <h3>Hamburger</h3>
        <ion-row>
          <ion-col>
            quantité :
          </ion-col>
          <ion-col>
            quantité
          </ion-col>
        </ion-row>
      
    </div>
   

        <ion-card class="img_av">
          <div>
            <img class="logopetit" src="../../assets/pexel.jpeg" alt="">
          </div>
        </ion-card>

        
        
   </ion-card>
 -->




<!-- <ion-card>
 <div class="item">
  <div class="buttons">
<span class="delete-btn"></span>
    <span class="like-btn"></span> 
  </div>

  <div class="image">
    <img src="../../assets/pexel.jpeg" alt="" />
  </div>

  <div class="description">
    <span>Hamburger</span>
    <span>2500Fcfa</span>
    <span>publié par <ion-avatar  src="../../assets/Nounou-DEMBAGA.jpg"></ion-avatar></span>
  </div>

  <div class="quantity">
    <button class="plus-btn" type="button" name="button">
     <ion-icon name="add"></ion-icon>
    </button>
    <input type="text" name="name" value="1">
    <button class="minus-btn" type="button" name="button">
      <ion-icon name="remove"></ion-icon>
    </button>
  </div>

  <div class="total-price">$549</div>
</div>

</ion-card> -->




<div class="project">
  <div class="shop">
    <div class="box">
      <img src="3.jpg">
      <div class="content">
        <h3>Hamburger</h3>
        <h6>Prix: 2500Fcfa</h6>
        <p class="unit">Quantity: <input name="" value="0"></p>
        <!-- <p class="unit"> <ion-button fill class="btn-area"> <ion-icon name="close-outline" style="color: #E88441;"></ion-icon></ion-button>
         </p> -->
        
        </div>
    </div>
    <div class="box">
      <img src="3.jpg">
      <div class="content">
        <h3>Hamburger</h3>
        <h6>Prix: 2500Fcfa</h6>
        <p class="unit">Quantity: <input name="" value="0"></p>
        <!-- <p class="unit"> <ion-button fill class="btn-area"> <ion-icon name="close-outline" style="color: #E88441;"></ion-icon></ion-button>
         </p> -->
        
        </div>
    </div>
    <div class="box">
      <img src="3.jpg">
      <div class="content">
        <h3>Hamburger</h3>
        <h6>Prix: 2500Fcfa</h6>
        <p class="unit">Quantity: <input name="" value="0"></p>
        <!-- <p class="unit"> <ion-button fill class="btn-area"> <ion-icon name="close-outline" style="color: #E88441;"></ion-icon></ion-button>
         </p>
         -->
        </div>
    </div>
  </div>
  <div class="right-bar">
    <!-- <p><span>Subtotal</span> <span>2500Fcfa</span></p>
    <hr> -->
     <p><span>Total</span> <span>2500Fcfa</span></p><ion-button><a href="#"><i class="fa fa-shopping-cart"></i>Valider</a></ion-button>
   
  </div>
</div>

</ion-content>
