@import url('https://fonts.googleapis.com/css2? family= ABeeZee & display=swap');
*{
  font-family: 'Aabezzee';
}
ion-content {
    width: calc(100% + 22px);
  }
 .insta-feed-header {
    
    ion-icon{
     font-size: 28px;
    }
    .insta-font{
       font-family: 'Aabezzee';
       font-size: 28px;
     }
   }
   .logo{
    height: 90px;
    width: 90px;
    margin-left: 50px;
  }

  .grand{
    margin-right:3px;
    width: 90%;
    border-radius: 12px 12px 12px 12px;
    height: 90px;
    background-color: #FCF7F4;
    // margin-left: 12px;
    // margin-left: auto;
    margin-right: auto;
   
  }
  .img_av{
    border-radius: 12px 12px 12px 12px;
    height: 60px;
    margin-top: 22px;
    margin-right: auto;
    margin-left: 12px;
    bottom: 90px;
    width: 60px;
}
// .img_av .md{
//   border-radius: 12px 12px 12px 12px;
//   height: 60px;
//   margin-left: auto;
//   margin-right: auto;
//   margin-left: 12px;
//   bottom: 65px;
//   width: 60px;
// }
  .logopetit{
    margin-top: 10%;
    width: 50px;
    height:  50px;
    margin-left: 5px;
  }
span{
  color: #E88441;
}
.contenue{
  margin-top: 10%;
margin-left: 100px;
}