<ion-header>
  
  <ion-toolbar  style="background-color: #FCF7F4;"class="insta-feed-header" color="">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="cart" style="color: #E88441;"></ion-icon>
      </ion-button>
    </ion-buttons>
    
      <img class="logo" src="../assets/Logo1.png" alt="">
      
    <ion-buttons slot="end">
      
      <ion-button routerLink="/recherche">
        <ion-icon name="Search" style="color: #E88441;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div style=" width: 100%; height: 100%;">

  <ion-card class="parent" style="width: 90%;">
  
    <div class="child1">
      <img style="height: 200px; width: 100%;" src="../../assets/mafé.PNG" alt="">
    
    </div>
    <div class="child1 child2" >
     
        <h4>Mafé Facile en 30 min</h4>
       
            
              <div class="user_info"> 
                <ion-avatar >
                  <img src="../assets/Nounou-DEMBAGA.jpg">
                </ion-avatar>
                <h6>Publié par</h6>
              </div>
  </div>


  </ion-card>
  
  <ion-card class="parent" style="width: 90%;">
  
    <div class="child1">
      <img style="height: 200px; width: 100%;" src="../../assets/Djouka.png" alt="">
    
    </div>
    <div class="child1 child2" >
     
        <h4>Mafé Facile en 30 min</h4>
       
            
              <div class="user_info"> 
                <ion-avatar >
                  <img src="../assets/Nounou-DEMBAGA.jpg">
                </ion-avatar>
                <h6>Publié par</h6>
              </div>
  </div>
  </ion-card>

  <ion-card class="parent" style="width: 90%;">
  
    <div class="child1">
      <img style="height: 200px; width: 100%;" src="../../assets/fakoye.png" alt="">
    
    </div>
    <div class="child1 child2" >
     
        <h4>Mafé Facile en 30 min</h4>
       
            
              <div class="user_info"> 
                <ion-avatar >
                  <img src="../assets/Nounou-DEMBAGA.jpg">
                </ion-avatar>
                <h6>Publié par</h6>
              </div>
  </div>

  


  </ion-card>


  <ion-card class="parent" style="width: 90%;">
  
    <div class="child1">
      <img style="height: 200px; width: 100%;" src="../../assets/yassa.png" alt="">
    
    </div>
    <div class="child1 child2" >
     
        <h4>Mafé Facile en 30 min</h4>
       
            
              <div class="user_info"> 
                <ion-avatar >
                  <img src="../assets/Nounou-DEMBAGA.jpg">
                </ion-avatar>
                <h6>Publié par</h6>
              </div>
  </div>


  </ion-card>


  
  <ion-card class="parent" style="width: 90%;">
  
    <div class="child1">
      <img style="height: 200px; width: 100%;" src="../../assets/Zamai.png" alt="">
    
    </div>
    <div class="child1 child2" >
     
        <h4>Mafé Facile en 30 min</h4>
       
            
              <div class="user_info"> 
                <ion-avatar >
                  <img src="../assets/Nounou-DEMBAGA.jpg">
                </ion-avatar>
                <h6>Publié par</h6>
              </div>
  </div>


  </ion-card>



</div>
 

 

</ion-content>
