<ion-header>
  
  <ion-toolbar  style="background-color: #FCF7F4;"class="insta-feed-header" color="">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="cart" style="color: #E88441;"></ion-icon>
      </ion-button>
    </ion-buttons>
    
      <img class="logo" src="../assets/Logo1.png" alt="">
      
    <ion-buttons slot="end">
      
      <ion-button routerLink="/recherche">
        <ion-icon name="Search" style="color: #E88441;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list style="width: 50%; margin-left: 50%;">
    <ion-item>
      <ion-select placeholder="Filtrer par" [multiple]="false">
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>


 <ion-card class="grand">
  <div class="contenue"><span><a href="#">User123</a></span> à liker votre vidéo <span><a href="#">Mafé facile en 30 min</a> </span></div>
      <ion-card class="img_av">
        <img class="logopetit" src="../../assets/like.png" alt="">
      </ion-card>
 </ion-card>
 <ion-card class="grand">
  <div class="contenue"><span><a href="#">User123</a></span> à liker votre vidéo <span><a href="#">Mafé facile en 30 min</a> </span></div>
      <ion-card class="img_av">
        <img class="logopetit" src="../../assets/like.png" alt="">
      </ion-card>
 </ion-card>
 <ion-card class="grand">
  <div class="contenue"><span><a href="#">User123</a></span> à commenter votre vidéo <span><a href="#">Mafé facile en 30 min</a> </span></div>
      <ion-card class="img_av">
        <img class="logopetit" style="width: 25px;height:29px;margin-left: 15px; margin-top:18px" src="../../assets/commenter (2).png" alt="">
      </ion-card>
 </ion-card>
 <ion-card class="grand">
  <div class="contenue"><span><a href="#">User123</a></span> à commenter votre vidéo <span><a href="#">Mafé facile en 30 min</a> </span></div>
      <ion-card class="img_av">
        <img class="logopetit" style="width: 25px;height:29px;margin-left: 15px; margin-top:18px" src="../../assets/commenter (2).png" alt="">
      </ion-card>
 </ion-card>
 <ion-card class="grand">
  <div class="contenue"><span><a href="#">User123</a></span> à passer une commande. <span><a href="">Cliquez-ici pour voir.</a> </span></div>
      <ion-card class="img_av">
        <img class="logopetit" src="../../assets/images.png" alt="">
      </ion-card>
 </ion-card>
 <ion-card class="grand">
  <div class="contenue"><span><a href="#">User123</a></span> à commanter votre vidéo <span><a href="#">Mafé facile en 30 min</a> </span></div>
      <ion-card class="img_av">
        <img class="logopetit" style="width: 25px;height:29px;margin-left: 15px; margin-top:18px" src="../../assets/commenter (2).png" alt="">
      </ion-card>
 </ion-card>

</ion-content>
