<ion-header>

</ion-header>

<ion-content>

  <div class="background-pic">
     <div class="background-filter">
       <div class="shape"><img src="../../assets/Test.svg" /></div>

       <ion-card>
         <ion-card-header>
           
            <ion-img style="height: 250px; width: 250px; padding-left: 10%;" src="../../assets/Logo1.png"></ion-img>
          
          
         </ion-card-header>
         <ion-card-content>
            <ion-item>
             <ion-input placeholder="Nom d'utilisateur"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Mot de passe"></ion-input>
            </ion-item>
            <a href="#">Mot de passe oublié?</a>

            <div class="bottom-section">
              <ion-button (click)="navigateToLoginPage()">Connexion</ion-button>
              <span> Vous n'avez pas de compte ? <a href="http://localhost:8100/signup"> Inscrivez-vous</a></span>
            </div>
         </ion-card-content>
       </ion-card>
     </div>
  </div>

</ion-content>
