<ion-header>

</ion-header>

<ion-content [scrollY]=false>

 




<div class="padding"> 


  <div class="segment">
    <ion-segment color="primary" [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="connexion">
        
        <ion-label>Connexion</ion-label>
      </ion-segment-button>
      <ion-segment-button value="inscription">
        
        <ion-label>Inscription</ion-label>
      </ion-segment-button>
  </ion-segment>
</div>

 

<form  name="form"
#f="ngForm"
(ngSubmit)="f.form.valid && onSubmit()"> 

  <div class="connexion" *ngIf="selectedSegment == 'connexion'">
    <div class="eclipse1">
      <img src="../../assets/EllipseLogin.png" alt="">
     </div>

     <ion-item >
   
      <ion-input type="text" name="username" id="username" placeholder="Nom d'utilisateur" class="form form-control inputvalue"name="username" id="username"  [(ngModel)]="form.username" #username="ngModel"
        ></ion-input>
        <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
          Nom d'utilisateur invalide!
        </div>
      </ion-item>
      
      <ion-item >
      <ion-input type="password" name="password" id="password" placeholder="Mots de passe *" class="form form-control inputvalue"name="password" [(ngModel)]="form.password" #password="ngModel" id="password"></ion-input>
        <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
          Mot de Passe invalide!
        </div>
      </ion-item>
      
      <ion-item lines="none">
        <ion-button color="" fill="clear" slot="end">Mot de passe oublié ? </ion-button>
      </ion-item>
      <ion-button style="padding: -50px;" color="" shape="round" expand="block" routerLink="/tabs/tab1" (click)="onSubmit()">Connexion</ion-button>
      <br>
     
      <ion-item lines="none">
        <ion-label style="text-align: center;" color="">Ou connectez-vous avec</ion-label>
        <div class="wrapper" style="space-between:10%;">
          <div class="button">
             <div class="icon">
              <ion-icon  name="logo-facebook"></ion-icon>
             </div>
             <!-- <span>Facebook</span> -->
          </div>
          <div class="button">
             <div class="icon">
              <ion-icon  name="logo-twitter"></ion-icon>
             </div>
             <!-- <span>Twitter</span> -->
          </div>
          <div class="button">
             <div class="icon">
              <ion-icon  name="logo-google"></ion-icon>
             </div>
             <!-- <span>Google</span> -->
          </div>
        </div>
      </ion-item>   
</div>

</form>



<!--*****************************Inscription****************************************** -->
<form name="form"
#f="ngForm"
(ngSubmit)="f.form.valid && onSubmit1()">
<div class="inscription" *ngIf="selectedSegment == 'inscription'">
  <div class="eclipse2">
    <img src="../../assets/EllipseInscription.png" alt="">
   </div>

   <ion-item >
    <ion-input type="text" name="nom" required
    minlength="3"
    maxlength="30" id="nom" placeholder="Nom *" class="form form-control inputvalue"name="nom" [(ngModel)]="form1.nom" #nom="ngModel" id="nom"></ion-input>

    </ion-item>
    <ion-item >
      <ion-input type="text" name="prenom" required
      minlength="3"
      maxlength="30" id="prenom" placeholder="Prenom *" class="form form-control inputvalue"name="prenom" [(ngModel)]="form1.prenom" #prenom="ngModel" id="prenom"></ion-input>
      </ion-item>
      <ion-item >
        <ion-input type="text" name="username" required
        minlength="3"
        maxlength="30" id="username" placeholder="Nom d'utilisateur *" class="form form-control inputvalue"name="username" [(ngModel)]="form1.username" #username="ngModel" id="username"></ion-input>
        </ion-item>
        <ion-item >
          <ion-input type="text" name="Numéro" required
          minlength="3"
          maxlength="30" id="numero" placeholder="Numero *" class="form form-control inputvalue"name="numero" [(ngModel)]="form1.numero" #numero="ngModel" id="numero"></ion-input>
          </ion-item>
    <ion-item >
    <ion-input type="password" name="password" required
    minlength="3"
    maxlength="30" id="password" placeholder="Password *" class="form form-control inputvalue"name="password" [(ngModel)]="form1.password" #password="ngModel" id="password"></ion-input>
          
    </ion-item>
    <br>
    <ion-button color="" shape="round" expand="block" routerLink="/login1" (click)="onSubmit1()" >Envoyer</ion-button>
    <br>
    
</div>

</form>


   <!-- <div class="flex">
  <ion-button shape="round" color="facebook" >
    
    <ion-icon name="logo-facebook"></ion-icon>
     Facebook
  </ion-button>
  <ion-button shape="round" color="google">
    <ion-icon name="logo-google"></ion-icon>
     Google
  </ion-button>
  </div> --> 
  
  </div>





</ion-content>







 <!-- <div class="background-pic">
     <div class="background-filter">
       <div class="shape"><img src="../../assets/Test.svg" /></div>

       <ion-card>
         <ion-card-header>
           
            <ion-img style="height: 250px; width: 250px; padding-left: 10%;" src="../../assets/Logo1.png"></ion-img>
          
          
         </ion-card-header>
         <ion-card-content>
            <ion-item>
             <ion-input placeholder="Nom d'utilisateur"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Mot de passe"></ion-input>
            </ion-item>
            <a href="#">Mot de passe oublié?</a>

            <div class="bottom-section">
              <ion-button (click)="navigateToLoginPage()">Connexion</ion-button>
              <span> Vous n'avez pas de compte ? <a href="/signup"> Inscrivez-vous</a></span>
            </div>
         </ion-card-content>
       </ion-card>
     </div>
  </div> -->