  <!--PAGE D'ACCEUIL-->
  <ion-header>
  
    <ion-toolbar class="insta-feed-header" color="">
      <ion-buttons slot="start">
        <ion-button (click)="Back()">
          <ion-icon name="close" style="color: #E88441;"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="divlogo" style="position: sticky;">
        <img  class="logo" src="../assets/Logo1.png" alt="">
      </div>
      <ion-buttons slot="end">
        
        <ion-button routerLink="/liste-commande-page">
          <ion-icon name="bag-check-outline" style="color: #E88441;"></ion-icon>
        
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
 



<ion-content fullscreen="true">
  <h1 class="title">Cart</h1>

  <div class="cart-items">
    <ion-card mode="md">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/fruits_@2x.png" />
        </div>

        <div class="item-info">
          <p>Fruits</p>
          <p>publié par <img style="width: 25px; height: 25px;border-radius: 50%;margin-bottom: -5px;" src="../../assets/Nounou-DEMBAGA.jpg" alt="" srcset=""></p>
          <p>3000 FCFA</p>

          <div class="qty-selector">
            <ion-button fill="clear"(click)="decrement()">-</ion-button>
            <ion-label>{{count}}</ion-label>
            <ion-button fill="clear"(click)="increment()">+</ion-button>
          </div> 
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card mode="md">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/fruits_@2x.png" />
        </div>

        <div class="item-info">
          <p>Fruits</p>
          <p>publié par <img style="width: 25px; height: 25px;border-radius: 50%;margin-bottom: -5px;" src="../../assets/Nounou-DEMBAGA.jpg" alt="" srcset=""></p>
          <p>3000 FCFA</p>

          <div class="qty-selector">
            <ion-button fill="clear"(click)="decrement()">-</ion-button>
            <ion-label>{{count}}</ion-label>
            <ion-button fill="clear"(click)="increment()">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card mode="md">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/fruits_@2x.png" />
        </div>

        <div class="item-info">
          <p>Fruits</p>
          <p>publié par <img style="width: 25px; height: 25px;border-radius: 50%;margin-bottom: -5px;" src="../../assets/Nounou-DEMBAGA.jpg" alt="" srcset=""></p>
          <p>3000 FCFA</p>

          <div class="qty-selector">
            <ion-button fill="clear"(click)="decrement()">-</ion-button>
            <ion-label>{{count}}</ion-label>
            <ion-button fill="clear"(click)="increment()">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card mode="md">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/fruits_@2x.png" />
        </div>

        <div class="item-info">
          <p>Fruits</p>
          <p>publié par <img style="width: 25px; height: 25px;border-radius: 50%;margin-bottom: -5px;" src="../../assets/Nounou-DEMBAGA.jpg" alt="" srcset=""></p>
          <p>3000 FCFA</p>

          <div class="qty-selector">
            <ion-button fill="clear"(click)="decrement()">-</ion-button>
            <ion-label>{{count}}</ion-label>
            <ion-button fill="clear"(click)="increment()">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card mode="md">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/fruits_@2x.png" />
        </div>

        <div class="item-info">
          <p>Fruits</p>
          <p>publié par <img style="width: 25px; height: 25px;border-radius: 50%;margin-bottom: -5px;" src="../../assets/Nounou-DEMBAGA.jpg" alt="" srcset=""></p>
          <p>3000 FCFA</p>

          <div class="qty-selector">
            <ion-button fill="clear"(click)="decrement()">-</ion-button>
            <ion-label>{{count}}</ion-label>
            <ion-button fill="clear"(click)="increment()">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-footer translucent="true" class="ion-no-border" mode="md">
    <ion-toolbar color="translucent">
      <ion-button  expand="block" class="main-button" routerLink="/payement" routerDirection="forward">Continue</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>