<ion-header>
  
  <ion-toolbar  style="background-color: #FCF7F4;"class="insta-feed-header" color="">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="cart" style="color: #E88441;"></ion-icon>
      </ion-button>
    </ion-buttons>
    
      <img class="logo" src="../assets/Logo1.png" alt="">
      
    <ion-buttons slot="end">
      
      <ion-button routerLink="/recherche">
        <ion-icon name="Search" style="color: #E88441;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div style="color: #E88441; "><h2>Les catégories</h2>
    <button class="add">Voir toutes les categories </button></div>

  <div class="doctors">
    <div class="title">
        <h2 class="section--title"></h2>
        <div class="doctors--right--btns">
            
            
        </div>
    </div>
  </div>
  <div class="doctors--cards">
    <ion-slides [options]="slideOpts">
      <ion-slide>
        <a href="#" class="doctor--card">
          <div class="img--box--cover">
              <div class="img--box">
                  <img src="../../assets/legume.jpg" alt="">
              </div>
          </div>
          <p class="">Legumes</p>
      </a>
        <a href="#" class="doctor--card">
          <div class="img--box--cover">
              <div class="img--box">
                  <img src="../../assets/mangue.png" alt="">
              </div>
          </div>
          <p class="">Fruits</p>
      </a>
      <!-- <a href="#" class="doctor--card">
        <div class="img--box--cover">
            <div class="img--box">
                <img src="assets/images/doctor1.jpg" alt="">
            </div>
        </div>
        <p class="">Gateau</p>
    </a> -->
      
      </ion-slide>
      <ion-slide>
        <a href="#" class="doctor--card">
          <div class="img--box--cover">
              <div class="img--box">
                  <img src="../../assets/juice.png" alt="">
              </div>
          </div>
          <p class="">Jus</p>
      </a>
      <!-- <a href="#" class="doctor--card">
        <div class="img--box--cover">
            <div class="img--box">
                <img src="assets/images/doctor2.jpg" alt="">
            </div>
        </div>
        <p class="">Gateau</p>
    </a> -->
    <a href="#" class="doctor--card">
      <div class="img--box--cover">
          <div class="img--box">
              <img src="../../assets/gateau.jpg" alt="">
          </div>
      </div>
      <p class="">Gateau</p>
  </a>
      </ion-slide>

      <ion-slide>
        <a href="#" class="doctor--card">
          <div class="img--box--cover">
              <div class="img--box">
                  <img src="../../assets/soupe.jpg" alt="">
              </div>
          </div>
          <p class="">Sauce</p>
      </a>
     
    <a href="#" class="doctor--card">
      <div class="img--box--cover">
          <div class="img--box">
              <img src="../../assets/epice.jpg" alt="">
          </div>
      </div>
      <p class="">Épice</p>
  </a>
      </ion-slide>
      
    </ion-slides>
    
   
    </div>


  <div style="color: #E88441; "><h3>Nouveaux produits</h3></div>
  <div style="width: 100%;">
    <ion-card>
  <ion-slides [options]="slideOpts">
    
    <ion-slide >
        <img routerLink="" src="../../assets/pexels-robin-stickel-70497.jpg">
    </ion-slide>
    <ion-slide>
      <img routerLink="" src="../../assets/pexels-robin-stickel-70497.jpg">
    </ion-slide>
    <ion-slide>
      <img routerLink="" src="../../assets/pexels-robin-stickel-70497.jpg">
    </ion-slide>
    <ion-slide>
      <img routerLink="" src="../../assets/pexels-robin-stickel-70497.jpg">
    </ion-slide>
   
  </ion-slides>
</ion-card>
</div>
<br>
<div style="color: #E88441;"><h3>Ajouté récemment</h3></div>
   <br>
  <div id="container">
  <ion-card >
    
      <img style="height: 100px; width: 150px;" src="../../assets/gastro2.jpg">
      
    <ion-card-content> <h3><p>Categorie 1 </p></h3> 
      <ion-button fill="outline" style=" height: 20px;width: 90px;">
        <ion-icon name="add"></ion-icon>
      Voir Plus 
    </ion-button>
  </ion-card-content>
    

  </ion-card>
  <ion-card >
   
      <img  src="../../assets/Rectangle_66 (2).png">
      <ion-card-content> <h3><p>Categorie 1 </p></h3> 
        <ion-button fill="outline" style="height: 20px;width: 90px;">
          <ion-icon name="add"></ion-icon>
        Voir Plus
      </ion-button>
    </ion-card-content>

  </ion-card>
  
  <ion-card >
    
      <img  src="../../assets/Rectangle_66 (4).png">
      <ion-card-content> <h3><p>Categorie 1 </p></h3> 
        <ion-button fill="outline" style="height: 20px;width: 90px;">
          <ion-icon name="add"></ion-icon>
        Voir Plus
      </ion-button>
    </ion-card-content>

  </ion-card>

  <ion-card  >
    
      <img  src="../../assets/ginger-juice.jpg">
      <ion-card-content> <h3><p>Categorie 1 </p></h3> 
        <ion-button fill="outline" style="height: 20px;width: 90px;">
          <ion-icon name="add"></ion-icon>
        Voir Plus
      </ion-button>
    </ion-card-content>

  </ion-card>
  
  <ion-card  >
    
    <img  src="../../assets/pexels-photo-248489.jpeg">
    <ion-card-content> <h3><p>Categorie 1 </p></h3> 
      <ion-button fill="outline" style="height: 20px;width: 90px;">
        <ion-icon name="add"></ion-icon>
      Voir Plus
    </ion-button>
  </ion-card-content>

</ion-card>
<ion-card  >
    
  <img  src="../../assets/mafé.PNG">
  <ion-card-content> <h3><p>Categorie 1 </p></h3> 
    <ion-button fill="outline" style="height: 20px;width: 90px;">
      <ion-icon name="add"></ion-icon>
    Voir Plus
  </ion-button>
</ion-card-content>

</ion-card>
<ion-card  >
    
  <img  src="../../assets/fruits_@2x.png">
  <ion-card-content> <h3><p>Categorie 1 </p></h3> 
    <ion-button fill="outline" style="height: 20px;width: 90px;">
      <ion-icon name="add"></ion-icon>
    Voir Plus
  </ion-button>
</ion-card-content>

</ion-card>

<ion-card  >
    
  <img  src="../../assets/Rectangle_66 (3).png">
  <ion-card-content> <h3><p>Categorie 1 </p></h3> 
    <ion-button fill="outline" style="height: 20px;width: 90px;">
      <ion-icon name="add"></ion-icon>
    Voir Plus
  </ion-button>
</ion-card-content>

</ion-card>
</div>
</ion-content>