

                            <!--PAGE D'ACCEUIL-->
                            <ion-header>
  
                              <ion-toolbar class="insta-feed-header" color="">
                                <ion-buttons slot="start">
                                  <ion-button>
                                    <ion-icon name="cart" style="color: #E88441;"></ion-icon>
                                  </ion-button>
                                </ion-buttons>
                                
                                  <img class="logo" src="../assets/Logo1.png" alt="">
                                  
                                <ion-buttons slot="end">
                                  
                                  <ion-button routerLink="/recherche">
                                    <ion-icon name="Search" style="color: #E88441;"></ion-icon>
                                  </ion-button>
                                </ion-buttons>
                              </ion-toolbar>
                            </ion-header>
                           
                          

<ion-content>

  <!-- <ion-card>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../assets/elon-musk.jpg" />
      </ion-avatar>
      <ion-label>
        <h2><b>Elon Musk</b></h2>
      </ion-label>
    </ion-item>
    <img class="tweet-img" src="https://pbs.twimg.com/media/EFjhHzwUEAIM2n_?format=jpg&name=medium">
    <ion-item lines="none" class="tweet">
      <ion-label text-wrap>Starship at our launch facility in Cameron County, Texas. Watch as <i>@elonmusk</i> gives an update on the vehicle today at ~7:00 p.m. CDT → <i>http://spacex.com/webcast</i></ion-label>
    </ion-item>
    
    <ion-button size="small" fill="clear">
      <ion-icon slot="start" name="heart-empty"></ion-icon> 210
    </ion-button>
    <ion-button size="small" fill="clear">
      <ion-icon slot="start" name="text"></ion-icon> 34
    </ion-button>
   
  </ion-card> -->












  <!-- <div class="post-list">
    <div class="post-item"  >
      <div class="post-header">
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="auto">
            <ion-avatar class="avatar-sm">
              <img src="../assets/mafé.PNG" alt="">
            </ion-avatar>
          </ion-col>
          <ion-col>
            <strong>Username</strong>
          </ion-col>
          <ion-col size="auto">
            <ion-icon name="ellipsis-horizontal"></ion-icon>
          </ion-col>
        </ion-row>
      </div>
      <div class="post-media" >
        <img src="../assets/mafé.PNG" alt="">
      </div>
      <div class="post-actions">
        <ion-row>
          <ion-col>
            <ion-button size="small" fill="clear" color="primary">
              <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
            </ion-button>
            <ion-button size="small" fill="clear" color="dark" routerLink="/commentaires">
              <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>
            </ion-button>
            
          </ion-col>
  
          
        </ion-row>
      </div>

      <div class="post-stats">
        <strong>20 likes</strong>
      </div>

      <div class="post-comments">
        <div class="comment-item">
          <span class="username">User123</span>
          Mafé facile a faire
        </div>


        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="auto">
            <ion-avatar class="avatar-xs" style="width: 30px;height: 30px;">
              <img src="../assets/mafé.PNG" alt="">
            </ion-avatar>
          </ion-col>
          <ion-col>
            <div class="text-muted text-sm"><ion-input color="grey" type="text" placeholder="Commenter"></ion-input></div>
          </ion-col>
          <ion-col size="auto">
            
          <ion-button style="background-color:#E88441; border-radius: 6px 6px 6px 6px; width:50px ; height: 30px; " color="#E8844"><h4>Publier</h4></ion-button>
            
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
  <div class="post-list">
    <div class="post-item"  >
      <div class="post-header">
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="auto">
            <ion-avatar class="avatar-sm">
              <img src="../assets/mafé.PNG" alt="">
            </ion-avatar>
          </ion-col>
          <ion-col>
            <strong>Username</strong>
          </ion-col>
          <ion-col size="auto">
            <ion-icon name="ellipsis-horizontal"></ion-icon>
          </ion-col>
        </ion-row>
      </div>
      <div class="post-media">
        <img src="../assets/mafé.PNG" alt="">
      </div>
      <div class="post-actions">
        <ion-row>
          <ion-col>
            <ion-button size="small" fill="clear" color="dark">
              <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
            </ion-button>
            <ion-button size="small" fill="clear" color="dark" routerLink="/commentaires">
              <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>
            </ion-button>
            
          </ion-col>
  
          
        </ion-row>
      </div>

      <div class="post-stats">
        <strong>20 likes</strong>
      </div>

      <div class="post-comments">
        <div class="comment-item">
          <span class="username">User123</span>
          Mafé facile a faire
        </div>


        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="auto">
            <ion-avatar class="avatar-xs" >
              <img src="../assets/mafé.PNG" alt="">
            </ion-avatar>
          </ion-col>
          <ion-col>
            <div class="text-muted text-sm"><ion-input color="grey" type="text" placeholder="Commenter"></ion-input></div>
          </ion-col>
          <ion-col size="auto">
            
          <ion-button style="background-color:#E88441; border-radius: 6px 6px 6px 6px; width:70px ; height: 20px; " color="#E8844">Publier</ion-button>
            
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
  <div class="post-list">
    <div class="post-item"  >
      <div class="post-header">
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="auto">
            <ion-avatar class="avatar-sm">
              <img src="../assets/mafé.PNG" alt="">
            </ion-avatar>
          </ion-col>
          <ion-col>
            <strong>Username</strong>
          </ion-col>
          <ion-col size="auto">
            <ion-icon name="ellipsis-horizontal"></ion-icon>
          </ion-col>
        </ion-row>
      </div>
      <div class="post-media">
        <img src="../assets/mafé.PNG" alt="">
      </div>
      <div class="post-actions">
        <ion-row>
          <ion-col>
            <ion-button size="small" fill="clear" color="dark">
              <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
            </ion-button>
            <ion-button size="small" fill="clear" color="dark" routerLink="/commentaires">
              <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>
            </ion-button>
            
          </ion-col>
  
          
        </ion-row>
      </div>

      <div class="post-stats">
        <strong>20 likes</strong>
      </div>

      <div class="post-comments">
        <div class="comment-item">
          <span class="username">User123</span>
          Mafé facile a faire
        </div>


        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="auto">
            <ion-avatar class="avatar-xs" >
              <img src="../assets/mafé.PNG" alt="">
            </ion-avatar>
          </ion-col>
          <ion-col>
            <div class="text-muted text-sm"><ion-input color="grey" type="text" placeholder="Commenter"></ion-input></div>
          </ion-col>
          <ion-col size="auto">
            
          <ion-button style="background-color:#E88441; border-radius: 6px 6px 6px 6px; width:70px ; height: 20px; " color="#E8844">Publier</ion-button>
            
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div> -->
  



 
  <div style=" width: 100%; height: 100%;">

  <ion-card class="parent" style="width: 90%;">
  
    <div class="child1">
      <img style="height: 200px; width: 100%;" src="../../assets/mafé.PNG" alt="">
    
    </div>
    <div class="child1 child2" >
     
        <h4>Mafé Facile en 30 min</h4>
       
            
              <div class="user_info"> 
                <ion-avatar >
                  <img src="../assets/Nounou-DEMBAGA.jpg">
                </ion-avatar>
                <h6>Publié par</h6>
              </div>
  </div>


  </ion-card>
  
  <ion-card class="parent" style="width: 90%;">
  
    <div class="child1">
      <img style="height: 200px; width: 100%;" src="../../assets/Djouka.png" alt="">
    
    </div>
    <div class="child1 child2" >
     
        <h4>Mafé Facile en 30 min</h4>
       
            
              <div class="user_info"> 
                <ion-avatar >
                  <img src="../assets/Nounou-DEMBAGA.jpg">
                </ion-avatar>
                <h6>Publié par</h6>
              </div>
  </div>
  </ion-card>

  <ion-card class="parent" style="width: 90%;">
  
    <div class="child1">
      <img style="height: 200px; width: 100%;" src="../../assets/fakoye.png" alt="">
    
    </div>
    <div class="child1 child2" >
     
        <h4>Mafé Facile en 30 min</h4>
       
            
              <div class="user_info"> 
                <ion-avatar >
                  <img src="../assets/Nounou-DEMBAGA.jpg">
                </ion-avatar>
                <h6>Publié par</h6>
              </div>
  </div>

  


  </ion-card>


  <ion-card class="parent" style="width: 90%;">
  
    <div class="child1">
      <img style="height: 200px; width: 100%;" src="../../assets/yassa.png" alt="">
    
    </div>
    <div class="child1 child2" >
     
        <h4>Mafé Facile en 30 min</h4>
       
            
              <div class="user_info"> 
                <ion-avatar >
                  <img src="../assets/Nounou-DEMBAGA.jpg">
                </ion-avatar>
                <h6>Publié par</h6>
              </div>
  </div>


  </ion-card>


  
  <ion-card class="parent" style="width: 90%;">
  
    <div class="child1">
      <img style="height: 200px; width: 100%;" src="../../assets/Zamai.png" alt="">
    
    </div>
    <div class="child1 child2" >
     
        <h4>Mafé Facile en 30 min</h4>
       
            
              <div class="user_info"> 
                <ion-avatar >
                  <img src="../assets/Nounou-DEMBAGA.jpg">
                </ion-avatar>
                <h6>Publié par</h6>
              </div>
  </div>


  </ion-card>



</div>
 

 

</ion-content>
