// .feed-card {
//     margin: 0;
//     box-shadow: none;
//     .feed-user-wrapper{
//       display: flex;
//       padding: 5px 16px;
//       .user-image-wrapper{
//         border-radius: 50%;
//         border: 2px solid lightcoral;
//         height: 48px;
//         img{
//           width: 42px;
//           height: 100%;
//           border-radius: 50%;
//           border: 2px solid white;
//           max-width: none;
//         }
//         ion-icon {
//           color : #E88441;
//        }
//       }
//       .user-details{
//         margin-left: 10px;
//         width: 100%;
//         .user-name{
//           font-size: 14px;
//           margin: 5px 0;
//           font-weight: 500;
//         }
//         .user-place{
//           font-size: 12px;
//         }
//       }
//     }
//     .feed-slides-wrapper{
//       position: relative;
//       .feed-slides{
//         padding-bottom: 40px;
//         --bullet-background: var(--ion-color-light-contrast);
//       }
//       .feed-btn-wrapper{
//         position: absolute;
//         width: 100%;
//         bottom: 0;
//         padding: 0 3px;
//         .ion-float-left{
//           ion-button{
//                --padding-end: 0;
//           }
//         }
//         ion-icon{
//           font-size: 24px;
//         }
//       }
//     }
//     .feed-details-container{
//       color: var(--ion-color-dark);
//       .grey-text{
//         color: var(--ion-color-medium);
//       }
//       .user-given-details{
//         display: flex;
//         .user-name{
//           margin-right: 5px;
//         }
//         ion-avatar{
//           width: 18px;
//           height: 18px;
//           margin-right: 8px;
//           margin-top: 3px;
//         }
//         .feed-text{
//           margin-right: 5px;
//         }
//       }
//       .all-comments{
//         margin-top: 5px;
//         font-size: 13px;
//       }
//       .post-time{
//         margin-top: 5px;
//         font-size: 10px;
//       }
//     }
//   }
  
 .insta-feed-header {
   ion-icon{
    font-size: 28px;
   }
   .insta-font{
      font-family: 'Aabezzee', cursive;
      font-size: 28px;
    }
  }
  .logo{
    height: 50px;
    width: 50px;
    margin-left: 60px;
  }
  
//   .status-wrapper{
//     border-bottom: 1px solid #f3f3f3;
//     padding: 10px 5px 0 5px;
//     .own-status{
//       position: relative;
//       .plus-icon{
//         position: absolute;
//         bottom: 25px;
//         right: 20px;
//         background: var(--ion-color-primary);
//         color: white;
//         border-radius: 50%;
//         border: 2px solid white;
//         font-size: 13px;
//       }
//     }
//     .status-item{
//       --padding-end: 0;
//       --padding-start: 0;
//       --color-checked: transparent;
//       --border-color: transparent;
//       &.other-status{
//         // ion-avatar{
//         //   width: 52px;
//         //   height: 52px;
//         //   border: 2px solid lightcoral;
//           img{
//             border: 2px solid white;
//           }
//         }
//       }
//      // padding: 0;
//       // ion-avatar{
//       //   width: 48px;
//       //   height: 48px;
//       // }
//       .avatar-xs{
          
//   width: 10%;
      
     
//   height: 10%;
//       }
//       ion-label{
//         width: 80px;
//         text-overflow: ellipsis;
//         overflow: hidden;
//         white-space: nowrap;
//         font-size: 9px;
//         text-transform: none;
//         color: black;
//         margin: 5px 0 0 0;
//       }
//     }
  
  
//   .story-list {
//     padding: 16px 0 8px;;
//     border-bottom: 1px solid var(--ion-color-light);
  
//     .scroll-horizontal {
//       padding-left: 16px;
//     }
  
//     .scroll-item {
//       text-align: center;
//       margin-right: 16px;
//     }
  
//     .item-label {
//       font-size: 13px;
//       margin-top: 8px;
//     }
//   }
  
//   .post-item {
//     margin-bottom: 16px;
  
//     .post-header {
//       padding: 8px;
//     }
  
//     .post-media {
//       font-size: 0;
  
//       img, video {
//         width: 100%;
//       }
//     }
  
//     .post-stats, .post-comments {
//       padding: 0 12px 8px;
//     }
  
//     .hash-tag {
//       text-decoration: none;
//       margin-right: 4px;
//     }
  
//     .post-comments {
//       line-height: 1.4;
  
//       .username {
//         font-weight: 700;
//         margin-right: 4px;
//       }
  
//       .comment-item {
//         &.reply {
//           margin: 4px 0 4px 16px;
//           padding-left: 8px;
//           border-left: 3px solid var(--ion-color-light);
//         }
//       }
  
//       ion-icon {
//         vertical-align: middle;
//       }
//     }
//   }
  

















// .logo{

// }

// .video-box {
//     height: 100%;
//     width: 100%;
//     position: relative;
//     overflow: hidden;
//     background-color: black;
// }
// .videoPlayer {
//     width: 100%;
//     margin-top: -30px;

// }
// .video-box .title {
    
//     position: absolute;
//     color: white;
//     bottom: 670px;
//     left: 10px;
//     font-size: 16px;
// }
// .video-box .title ion-icon {
    
//     color: white;
//     background-color: #000000;
//     margin-bottom: -3px;
//     padding: 2px;
//     font-size: 10px;
//     border-radius: 50%;
// }
// .username{
//     color: #E88441;
   
// }
// .video-box .description {
    
//     position: absolute;
    
//     color: white;
//     bottom: 425px;
//     left: 49px;
//     font-size: 12px;
// }
// .song {
//     position: absolute;
//     bottom: 15px;
//     left: 10px;
//     height: 20px;
//     display: flex;
//     align-items: center;
//     color: white;
//     font-size: 13px;
// }
// .song ion-icon {
//     margin-right: 10px;
// }
// .scroll-text {
//     overflow: hidden;
//     width: 100px;
// }
// .scroll-text p {
//     display: inline-block;
//     padding-right: 2em;
//     padding-left: 100%;
//     white-space: nowrap;
//     animation: defilement-rtl 7s infinite linear;
// }
// @keyframes defilement-rtl {
//     0% {
//         transform: translate3d(0,0,0);
//     }
//     100% {
//         transform: translate3d(-100%,0,0);
//     }
// }
// .haut{
//     position: relative;
//     display: flex;
// }
// .button-box {
//     position: absolute;
//     right: 0;
//     bottom: 0;
//     height: 300px;
//     width: 80px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }
// .button-box ion-avatar {
//    // border: solid white 2px;
//     margin-bottom: 3px;
// }
// .button-box ion-badge {
//     --color: white;
//     --background: #DF4662;
//     --padding-start: 4px;
//     --padding-end: 4px;
//     margin-left: 4px;
// }
// .button-box img {
//     width: fit-content;
//     height: fit-content;
// }
// .icon-box {
//     width: 40px;
//     height: 50px;
//     color: white;
// }
// .icon-box ion-icon {
//     font-size: 30px;
// }
// .icon-box p {
//     font-size: 10px;
//     margin: 0px;
// }
// .avatar-box-2 {
//     width: 50px;
//     background: linear-gradient(#232323, #6f6f6f);
//     padding: 10px;
//     height: 50px;
//     border-radius: 50%;
//     margin-top: 10px;
//     z-index: 5;
// }
// .avatar-box-2 ion-avatar {
//     transform: rotate(45deg);
//     height: 30px;
//     width: 30px;
// }
// .gif-music {
//     position: absolute;
//     right: 30px;
//     bottom: 20px;
//     height: 80px !important;
//     width: auto !important;
//     z-index: 0;
// }
















@import url('https://fonts.googleapis.com/css2? family= ABeeZee & display=swap');
*{
  font-family: 'Aabezzee';
}
ion-content {
    width: calc(100% + 22px);
  }
 .insta-feed-header {
    
    ion-icon{
     font-size: 28px;
    }
    .insta-font{
       font-family: 'Aabezzee';
       font-size: 28px;
     }
   }
   .logo{
     height: 50px;
     width: 50px;
     margin-left: 60px;
   }

   .parent {
    // position: absolute;
    margin-left: 10px;
    width: 90%;
    border-radius: 12px 12px 12px 12px;
    height: 190px;
   
}
.parent.md {
  // position: absolute;
  margin-left: 4px;
  width: 90%;
  border-radius: 12px 12px 12px 12px;
  height: 190px;
  margin-left: auto;
  margin-right: auto;
 
}
.child1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}
.child2 {
    z-index: 1;
    background: rgba(0, 0, 0, 0.664);
    
    color: white; 
    text-align: center;
    h4{
      margin-top: 110px;
     
    }
}
// .user_info{
//   text-align: center;
//   margin-right:140px;
//   margin-top: 30px;
// }

ion-avatar{
  height: 25px;
  width:25px;
  margin-left:63%;
  margin-top: -5px;
}
ion-avatar.md{
  margin-left:65%;
}
h6{
  margin-top: -20px;
  
}
ion-card{
  margin-bottom: 5%;
}