<ion-header>
  
  <ion-toolbar class="insta-feed-header" color="">
    <ion-buttons slot="start">
      <ion-button  routerLink="/panier-page" >
        <ion-icon name="cart" style="color: #E88441;"></ion-icon>
      </ion-button>
    </ion-buttons>
    
      <img class="logo" src="../assets/Logo1.png" alt="">
      
    <ion-buttons slot="end">
      
      <ion-button routerLink="/recherche-page">
        <ion-icon name="Search" style="color: #E88441;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]=false>
  <ion-img src="../../assets/01Paella_Paella-removebg-preview.png"></ion-img>
  <ion-card>
    <div class="message">
<h3>Veuillez choisir une option</h3>

    </div>
    
<ion-button routerLink="/tabs/ajouter-video" fill="solid">
  Poster une Vidéo
</ion-button>
<br>
<ion-button routerLink="/tabs/ajouter-produit" fill="solid">
  Ajouter un produit
</ion-button>
<br>
<ion-button routerLink="/tabs/ajouter-plats" fill="solid">
  Ajouter un plat
</ion-button>
<br>
<br>
  </ion-card>
</ion-content>
