ion-content {
    width: calc(100% + 22px);
  }
 .insta-feed-header {
    
    ion-icon{
     font-size: 28px;
    }
    .insta-font{
       font-family: 'Aabezzee', cursive;
       font-size: 28px;
     }
   }

.logo{
    height: 90px;
    width: 90px;
    margin-left: 50px;
  }
  .message{
color: #E88441;
text-align: center;
  }
  ion-button{
    
    color: white;
    border-radius: 10px 10px 10px 10px;
    text-align: center; 
   
    width: 100%;
    
  }
  ion-button:hover{
    background-color:  #E88441 !important;

  }
  ion-card{
    margin-left: 4px;
    width: 90%;
  }