<ion-header>
  
  <ion-toolbar class="insta-feed-header" color="">
    <ion-buttons slot="start">
      <ion-button routerLink="/panier">
        <ion-icon name="arrow-back-outline" style="color: #E88441;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="divlogo" style="position: sticky;">
      <img  class="logo" src="../assets/Logo1.png" alt="">
    </div>
    <ion-buttons slot="end">
      
      <ion-button routerLink="">
        <ion-icon name="" style="color: #E88441;"></ion-icon>
      
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
   <h3 style="color:#E88441;">Liste des Commandes</h3>
  </ion-item>

  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

  <table id="myTable">
    <tr class="header">
      <th style="width:10px;">N°</th>
      <th style="width:20px;">Réf</th>
      <th style="width:30px;">Prix</th>
      <th style="width:auto;">Action</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Com1</td>
      <td>2500</td>
      <td><ion-button fill="transparent"> <ion-icon name="close"></ion-icon></ion-button></td>
    </tr>
    <tr>
      <td>2</td>
      <td>Com1</td>
      <td>2500</td>
      <td><ion-button fill="transparent"> <ion-icon name="close"></ion-icon></ion-button></td>
    </tr>
    <tr>
      <td>3</td>
      <td>Com1</td>
      <td>2500</td>
      <td><ion-button fill="transparent"> <ion-icon name="close"></ion-icon></ion-button></td>
    </tr>
    <tr>
      <td>4</td>
      <td>Com1</td>
      <td>2500</td>
      <td><ion-button fill="transparent"> <ion-icon name="close"></ion-icon></ion-button></td>
    </tr>
  </table>
  
</ion-content>
