<ion-header>
  
  <ion-toolbar  style="background-color: #FCF7F4;"class="insta-feed-header" color="">
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/tab3">
        <ion-icon name="arrow-back-outline" style="color: #E88441;"></ion-icon>
      </ion-button>
    </ion-buttons>

    
      <img class="logo" src="../assets/Logo1.png" alt="">
      
    <!-- <ion-buttons slot="end">
      
      <ion-button routerLink="">
        <ion-icon name="" style="color: #E88441;"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <form (ngSubmit)="uploadVideoAndPhoto()">
      <ion-card>
<div class="padding">
<h2 style="text-align: center;">Poster une Video</h2>
<div class="inscription">
  
  
    <ion-item>
      <ion-label position="floating">Titre</ion-label>
      <ion-input type="text" [(ngModel)]="form.titre" name="titre"></ion-input>
    </ion-item>


    <!-- <ion-item>
      <ion-input type="file" (change)="handleImageInputChange($event)" name="imagecouverture"></ion-input>
    </ion-item>  -->

    
    <ion-button  expand="block">
      <input type="file" name="urlImage" (change)="handleImageInputChange($event)" id="file" class="inputfile" />
      <label class="label1" for="file"><ion-icon name="camera-outline"style="color: black; height:35px;width:35px ;"></ion-icon></label>
    </ion-button> 

    <!-- <ion-item>
      <ion-input type="file" (change)="handleVideoInputChange($event)" name="url"></ion-input>
    </ion-item> -->

    <ion-button  expand="block">
      <input type="file" name="url" (change)="handleVideoInputChange($event)" id="file" class="inputfile" />
      <label class="label1" for="file"><ion-icon name="videocam-outline"style="color: black; height:35px;width:35px ;"></ion-icon></label>
    </ion-button> 
    
</div>
</div>
</ion-card>

<ion-button  style="width: 90%; padding-left: 5px;" shape="round" (click)="valider()" type="submit" >
  Poster
</ion-button> 
    <br>
</form>




</ion-content>




















<!-- <ion-button><input type="file" name="file" id="file" class="inputfile1" />
    <label class="label1" for="file"><img src="../../assets/camera0.svg" alt=""></label>
  </ion-button> -->