<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="Back()">
        <ion-icon name="close">

        </ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Commentaires</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2> @<span style="color: chocolate;">User</span></h2>
        <p>Jolie !!!</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="https://i.pravatar.cc/300?u=a"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2> @<span style="color: chocolate;">User</span></h2>
        <p>J'adore</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item fill="outline">
    <ion-label position="floating">Commentez ici</ion-label>
    <ion-input maxlength="30"[clearInput]="true"></ion-input>
  </ion-item>
  <ion-button style="top: 50%;">Publier</ion-button>
</ion-content>
