<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="Back()">
        <ion-icon name="close">

        </ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Commentaires</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <form  (ngSubmit)="commentaire()">
  <ion-list >
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="../../assets/Nounou-DEMBAGA.jpg"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2> @<span style="color: chocolate;" routerLink="/profil-visiteursiteur">username</span></h2>
        <p>Contenue</p>
      </ion-label>
    </ion-item>
   
  </ion-list>

  <ion-item fill="outline">
    <ion-label position="floating">Commentez ici</ion-label>
    <ion-input maxlength="30"[clearInput]="true"[(ngModel)]="form.contenue" name="contenue"></ion-input>
  </ion-item>
  <ion-button style="top: 50%;" type="submit">Publier</ion-button>
</form>
</ion-content>
