<ion-header>
  
  <ion-toolbar  style="background-color: #FCF7F4;"class="insta-feed-header" color="">
    <ion-buttons slot="start">
      <ion-button routerLink="/tab2">
        <ion-icon name="arrow-back" style="color: #E88441;"></ion-icon>
      </ion-button>
    </ion-buttons>
    
      <img class="logo" src="../assets/Logo1.png" alt="">
      
    <ion-buttons slot="end">
      
      <!-- <ion-button routerLink="/recherche">
        <ion-icon name="Search" style="color: #E88441;"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div style="color: #E88441; "><h2>Les catégories</h2>
   
  </div>

  
  <div id="container">
  <ion-card >
    
      <img style="height: 100px; width: 150px;" src="../../assets/gastro2.jpg">
      
    <ion-card-content> <h3><p>Categorie 1 </p></h3> 
      <ion-button routerLink="/produits" style=" height: 20px;width: 90px;">
        <ion-icon name="add"></ion-icon>
      Voir Plus 
    </ion-button>
  </ion-card-content>
    

  </ion-card>
  <ion-card >
   
      <img  src="../../assets/Rectangle_66 (2).png">
      <ion-card-content> <h3><p>Categorie 1 </p></h3> 
        <ion-button routerLink="/produits"  style=" height: 20px;width: 90px;">
          <ion-icon name="add"></ion-icon>
        Voir Plus
      </ion-button>
    </ion-card-content>

  </ion-card>
  
  <ion-card >
    
      <img  src="../../assets/Rectangle_66 (4).png">
      <ion-card-content> <h3><p>Categorie 1 </p></h3> 
        <ion-button routerLink="/produits"  style=" height: 20px;width: 90px;">
          <ion-icon name="add"></ion-icon>
        Voir Plus
      </ion-button>
    </ion-card-content>

  </ion-card>

  <ion-card  >
    
      <img  src="../../assets/ginger-juice.jpg">
      <ion-card-content> <h3><p>Categorie 1 </p></h3> 
        <ion-button routerLink="/produits"  style=" height: 20px;width: 90px;">
          <ion-icon name="add"></ion-icon>
        Voir Plus
      </ion-button>
    </ion-card-content>

  </ion-card>
  
  <ion-card  >
    
    <img  src="../../assets/pexels-photo-248489.jpeg">
    <ion-card-content> <h3><p>Categorie 1 </p></h3> 
      <ion-button routerLink="/produits" style=" height: 20px;width: 90px;">
        <ion-icon name="add"></ion-icon>
      Voir Plus
    </ion-button>
  </ion-card-content>

</ion-card>
<ion-card  >
    
  <img  src="../../assets/mafé.PNG">
  <ion-card-content> <h3><p>Categorie 1 </p></h3> 
    <ion-button routerLink="/produits" style=" height: 20px;width: 90px;">
      <ion-icon name="add"></ion-icon>
    Voir Plus
  </ion-button>
</ion-card-content>

</ion-card>
<ion-card  >
    
  <img  src="../../assets/fruits_@2x.png">
  <ion-card-content> <h3><p>Categorie 1 </p></h3> 
    <ion-button routerLink="/produits"  style=" height: 20px;width: 90px;">
      <ion-icon name="add"></ion-icon>
    Voir Plus
  </ion-button>
</ion-card-content>

</ion-card>

<ion-card  >
    
  <img  src="../../assets/Rectangle_66 (3).png">
  <ion-card-content> <h3><p>Categorie 1 </p></h3> 
    <ion-button routerLink="/produits" fill="outline" style=" height: 20px;width: 90px;">
      <ion-icon name="add"></ion-icon>
    Voir Plus
  </ion-button>
</ion-card-content>

</ion-card>
</div>




</ion-content>