<ion-header>
  
  <ion-toolbar class="insta-feed-header" color="">
    <ion-buttons slot="start">
      <ion-button (click)="Back()">
        <ion-icon slot="icon-only" style="color:#E88441" name="arrow-back"></ion-icon>
          </ion-button>
    </ion-buttons>
    
      <img class="logo" src="../assets/Logo1.png" alt="">
      
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../assets/ikagaImg.jpg">

      </ion-avatar>
      <br>
      <ion-label>
        <h2>Profil 1</h2>
      </ion-label>
   
    </ion-item>
   <br>
   <div class="img">
    <img class="tweet-img"  src="../../assets/fruits_@2x.png"/>
   </div>
    <ion-label >
     <h1><b>Fruit</b> </h1>
    </ion-label>
    <ion-label>
      <h2><b>3000 FCFA</b></h2>
    </ion-label>
    <br>
    <ion-label>
      <h2><b>Reférence</b></h2>
    </ion-label>
    <p>Fruit frais du Mali.</p>
      <br>
      <!-- <ion-label>
        <h2><b>Total :</b> 2500 FCFA</h2>
      </ion-label> -->
      <ion-button class="btn" (click)="ValiderCommande()">
        Ajouter au panier
      </ion-button>
  </ion-card>
</ion-content>

 <!-- (click)="closeModal()" -->