<ion-content class="ion-padding">
  <div class="confirmation">
    <div class="ion-text-center">

      <div class="outer-circle">
        <div class="inner-circle">
          <img src="../../assets/animation_500_ldy1f1di.gif" />
        </div>
      </div>
      <h2>ini Ga!!!</h2>
      <p>
        Payement effectuer avec succes <br>
        <strong></strong> 
      </p>
    </div>
  </div>
  <ion-button  expand="block" class="main-button" routerLink="/tab1" routerDirection="back">Retour à la page d'acceuil</ion-button>

    
</ion-content>


