<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close">

        </ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Commentaires</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="comments-list">
    <div class="comment-item">
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-avatar class="avatar-sm">
            <img src="../assets/Nounou-DEMBAGA.jpg" alt="">
          </ion-avatar>
        </ion-col>
        <ion-col>
          <div>
            <span class="username">spiderman</span>
            recette de mafé
          </div>
          <div class="comment-actions">
            <span class="action-item"><strong>30 likes</strong></span>
          </div>
        </ion-col>
        <ion-col size="auto">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-col>
      </ion-row>

    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-avatar class="avatar-sm" slot="start">
        <img src="../assets/Nounou-DEMBAGA.jpg" alt="">
      </ion-avatar>
    </ion-buttons>

    <ion-input placeholder="Ajouter un commentaire"></ion-input>
  </ion-toolbar>
</ion-footer>
