<ion-header>
  
  <ion-toolbar class="insta-feed-header" color="">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="back" style="color: #E88441;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="divlogo" style="position: sticky;">
      <img  class="logo" src="../assets/Logo1.png" alt="">
    </div>
    <ion-buttons slot="end">
      
      <ion-button routerLink="/recherche">
        <ion-icon name="" style="color: #E88441;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]=false>
  <div>
     <h1><p style="color:#E88441; text-align: center; font-family: 'Aabezzee';">Oups !</p></h1>
      <h4><p style="text-align: center;"><span style="color:#E88441; font-family: 'Aabezzee';" routerLink="/login">Connectez-vous</span> pour acceder à cette page!!</p></h4>
  </div>

  <div class="image">
    <ion-img src="../assets/foodprep.gif"></ion-img>
  </div>
</ion-content>