<ion-header>
  
  <ion-toolbar class="insta-feed-header" color="">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="cart" size="90px"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <img style="height: 70px;width: 70px;" src="../assets/Logo1.png" alt="">
      
      
    </ion-title>
    <ion-buttons slot="end">
      
      <ion-button routerLink="/recherche">
        <ion-icon name="Search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="image">
    <ion-img src="../assets/foodprep.gif"></ion-img>
  </div>
</ion-content>