<ion-header>
  
  <ion-toolbar  style="background-color: #FCF7F4;"class="insta-feed-header" color="">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="cart" size="90px"></ion-icon>
      </ion-button>
    </ion-buttons>
    
      <img class="logo" src="../assets/Logo1.png" alt="">
      
    <ion-buttons slot="end">
      
      <ion-button routerLink="/recherche">
        <ion-icon name="Search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
     <h1><p style="color:#E88441; text-align: center; font-family: 'Aabezzee';">Oups !</p></h1>
      <h4><p style="text-align: center;"><span style="color:#E88441; font-family: 'Aabezzee';" routerLink="/login">Connectez-vous</span> pour acceder à cette page!!</p></h4>
  </div>

  <div class="image">
    <ion-img src="../assets/foodprep.gif"></ion-img>
  </div>
</ion-content>