<ion-header>
  
  <ion-toolbar  style="background-color: #FCF7F4;"class="insta-feed-header" color="">
    <ion-buttons slot="start">
      <ion-button routerLink="/tab3">
        <ion-icon name="arrow-back-outline" style="color: #E88441;"></ion-icon>
      </ion-button>
    </ion-buttons>
    
      <img class="logo" src="../assets/Logo1.png" alt="">
      
    <!-- <ion-buttons slot="end">
      
      <ion-button routerLink="">
        <ion-icon name="" style="color: #E88441;"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
<div class="padding">
<h2 style="text-align: center;">Poster <br>un Produit</h2>
<div class="inscription">
  
  <ion-item >
    <!-- <ion-label position="stacked">Nom du produit</ion-label> -->
    <ion-input [clearInput]="true" type="text" color="" placeholder="Nom du produit*"></ion-input>
    </ion-item>
    <ion-item >
      <!-- <ion-label position="stacked">Description du produit</ion-label> -->
      <ion-input [clearInput]="true" type="text" color="" placeholder="Description du produit*"></ion-input>
      </ion-item>
      <ion-item >
        <!-- <ion-label position="stacked">Le prix du produit</ion-label> -->
        <ion-input [clearInput]="true" type="number" color="" placeholder="Prix du produit*"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Date de fabrication</ion-label>
          <ion-input [clearInput]="true" type="date" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Date de péremption</ion-label>
          <ion-input [clearInput]="true" type="date" ></ion-input>
        </ion-item><br>
        <ion-button  expand="block"><input type="file" name="file" id="file" class="inputfile1" />
          <label class="label1" for="file"><img class="photo" src="../../assets/camera0.svg" alt=""></label>
        </ion-button> 
       <ion-label style="text-align: center;"><h6> Pour Garantir la sécurité alimentaire de nos utilisateurs,
        votre produits sera soumis afin de voir s’il est consommable ou pas</h6>  </ion-label>
    
    </div>



  
  </div>



</ion-card>

<ion-button  expand="block" shape="round" (click)=valider()>
  Soumettre
</ion-button> 
   
    <br>
</ion-content>




















<!-- <ion-button><input type="file" name="file" id="file" class="inputfile1" />
    <label class="label1" for="file"><img src="../../assets/camera0.svg" alt=""></label>
  </ion-button> -->